<ion-view title="Cart" hide-nav-bar="true" id="page32">
  <ion-content padding="true" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 320px; height: 10px;"></div>
    <h2 id="cart-heading27" style="color:#1A7EDC;font-weight:300;text-align:center;">Cart</h2>
    <ion-list id="cart-list3">
      <ion-item class="item-thumbnail-left item-icon-right royal starkx" id="cart-list-item2">
        <img src="img/lmmZ0JjSle35WPRCo2Zz_ALSK0001F_1.jpg">
        <h2royal>ALYA SKIN
          <p>EGP 450 | x1</p>
          <i class="icon ion-plus-circled"></i>
          <ion-option-button class="button-royal">Remove</ion-option-button>
        </h2royal>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div id="cart-container141" class="row">
      <div id="cart-container142" class="col-20 creator-container"></div>
      <div id="cart-container144" class="col-60">
        <a ui-sref="checkout()" id="cart-button65" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Checkout</a>
      </div>
      <div id="cart-container143" class="col-20 creator-container"></div>
    </div>
    <div id="cart-container140" class="row cusBar2">
      <div id="cart-container135" class="col-20">
        <a ui-sref="home()" id="cart-button56" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="cart-container136" class="col-20">
        <a ui-sref="profile()" id="cart-button57" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="cart-container137" class="col-20">
        <button id="cart-button60" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></button>
      </div>
      <div id="cart-container138" class="col-20">
        <a ui-sref="favorites()" id="cart-button61" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-heart-outline"></a>
      </div>
      <div id="cart-container139" class="col-20">
        <a ui-sref="settings()" id="cart-button64" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>
