<ion-view title="CartP" hide-nav-bar="true" id="page40">
  <ion-content padding="true" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 320px; height: 10px;"></div>
    <h2 id="cartP-heading82" style="color:#1A7EDC;font-weight:300;text-align:center;">Cart</h2>
    <ion-list id="cartP-list7">
      <ion-item class="item-thumbnail-left item-icon-right royal starkx" id="cartP-list-item12">
        <img src="img/lmmZ0JjSle35WPRCo2Zz_ALSK0001F_1.jpg">
        <h2royal>ALYA SKIN
          <p>x10</p>
          <i class="icon ion-plus-circled"></i>
          <ion-option-button class="button-royal">Remove</ion-option-button>
        </h2royal>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div id="cartP-container299" class="row">
      <div id="cartP-container296" class="col-20 creator-container"></div>
      <div id="cartP-container297" class="col-60">
        <a ui-sref="thankYouPurchaseP()" id="cartP-button181" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Submit Request</a>
      </div>
      <div id="cartP-container298" class="col-20 creator-container"></div>
    </div>
    <div id="cartP-container305" class="row cusBar2">
      <div id="cartP-container300" class="col-20">
        <a ui-sref="homeP()" id="cartP-button182" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="cartP-container301" class="col-20">
        <a ui-sref="profileP()" id="cartP-button183" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="cartP-container302" class="col-20">
        <a ui-sref="clientsP()" id="cartP-button184" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-barcode-outline"></a>
      </div>
      <div id="cartP-container303" class="col-20">
        <button id="cartP-button185" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></button>
      </div>
      <div id="cartP-container304" class="col-20">
        <a ui-sref="settingsP()" id="cartP-button186" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>