<ion-view title="Category" hide-nav-bar="true" id="page22">
  <ion-content padding="false" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="category-form9" class="list">
      <label class="item item-input stark3" id="category-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="category-slider3" style="width:100%;height:200px;" class="cat">
      <ion-slide-page id="category-slide21">
        <div id="category-container83" class="row">
          <div id="category-container80" class="col-33">
            <div class="avatarr2">
              <img src="img/rtRPAvYDQwkLQe76AKNv_treatment.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
            </div>
            <div id="category-markdown18" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Treatment</p>
            </div>
          </div>
          <div id="category-container81" class="col-33">
            <div class="avatarr2">
              <img src="img/ggadBgLASgyvqLqvHhjj_MOISTURISERS.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
            </div>
            <div id="category-markdown19" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Moisturisers</p>
            </div>
          </div>
          <div id="category-container82" class="col-33">
            <div class="avatarr2">
              <img src="img/abeHRCgrTbCbJFBK9yT3_Cleansers.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
            </div>
            <div id="category-markdown20" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Cleansers</p>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="category-slide22" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;">
        <div id="category-container87" class="row">
          <div id="category-container84" class="col-33">
            <div class="avatarr2">
              <img src="img/xvshzAcTWuElKEzgeCcQ_Toners.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
            </div>
            <div id="category-markdown21" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Toners</p>
            </div>
          </div>
          <div id="category-container85" class="col-33">
            <div class="avatarr2">
              <img src="img/6nHVgtOZRAarEqDQjQvU_Hydrators.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
            </div>
            <div id="category-markdown22" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Hydrators</p>
            </div>
          </div>
          <div id="category-container86" class="col-33">
            <div class="avatarr2">
              <img src="img/CIOUMF7NSipB7cew8YX1_Masks.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
            </div>
            <div id="category-markdown23" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Masks</p>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
    <h2 id="category-heading24" style="color:#1A7EDC;font-weight:300;text-align:center;">Masks</h2>
    <div id="category-container90" class="row">
      <div id="category-container88" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="product()">
            <img src="img/dB8shJqaReug4X3FX9s1_TOMO0051F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="category-button-bar15" class="button-bar xspace4">
          <button id="category-button62" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="category-button63" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="category-heading28" style="color:#21A6EB;" class="stark4">TONYMOLY</h5>
        <div id="category-markdown27" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Seaweed Mask Sheet</p>
        </div>
      </div>
      <div id="category-container89" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="product()">
            <img src="img/YWahALBxRXCdPLu0CPt8_ALSK0001F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="category-button-bar13" class="button-bar xspace4">
          <button id="category-button58" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="category-button59" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="category-heading26" style="color:#21A6EB;" class="stark4">ALYA SKIN</h5>
        <div id="category-markdown25" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Australian Pink Clay Mask</p>
        </div>
      </div>
    </div>
    <div id="category-container99" class="row">
      <div id="category-container97" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="product()">
            <img src="img/6i2J3M5RSyWGLB2Lktvb_STSK0068F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="category-button-bar19" class="button-bar xspace4">
          <button id="category-button70" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="category-button71" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="category-heading33" style="color:#21A6EB;" class="stark4">STARSKIN</h5>
        <div id="category-markdown31" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">The Gold Eye Mask Pack</p>
        </div>
      </div>
      <div id="category-container98" class="col-50 creator-container"></div>
    </div>
    <div id="category-container105" class="row cusBar">
      <div id="category-container100" class="col-20">
        <a ui-sref="home()" id="category-button72" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="category-container101" class="col-20">
        <a ui-sref="profile()" id="category-button73" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="category-container102" class="col-20">
        <a ui-sref="cart()" id="category-button74" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="category-container103" class="col-20">
        <a ui-sref="favorites()" id="category-button75" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-heart-outline"></a>
      </div>
      <div id="category-container104" class="col-20">
        <a ui-sref="settings()" id="category-button76" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>