<ion-view title="CategoryP" hide-nav-bar="true" id="page48">
  <ion-content padding="false" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="categoryP-form29" class="list">
      <label class="item item-input stark3" id="categoryP-search11">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider8" delegate-handle="slider8" id="categoryP-slider8" style="width:100%;height:200px;" class="cat">
      <ion-slide-page id="categoryP-slide213">
        <div id="categoryP-container381" class="row">
          <div id="categoryP-container378" class="col-33">
            <div class="avatarr2">
              <img src="img/rtRPAvYDQwkLQe76AKNv_treatment.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
            </div>
            <div id="categoryP-markdown83" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Treatment</p>
            </div>
          </div>
          <div id="categoryP-container379" class="col-33">
            <div class="avatarr2">
              <img src="img/ggadBgLASgyvqLqvHhjj_MOISTURISERS.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
            </div>
            <div id="categoryP-markdown84" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Moisturisers</p>
            </div>
          </div>
          <div id="categoryP-container380" class="col-33">
            <div class="avatarr2">
              <img src="img/abeHRCgrTbCbJFBK9yT3_Cleansers.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
            </div>
            <div id="categoryP-markdown85" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Cleansers</p>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="categoryP-slide214" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;">
        <div id="categoryP-container385" class="row">
          <div id="categoryP-container382" class="col-33">
            <div class="avatarr2">
              <img src="img/xvshzAcTWuElKEzgeCcQ_Toners.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
            </div>
            <div id="categoryP-markdown86" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Toners</p>
            </div>
          </div>
          <div id="categoryP-container383" class="col-33">
            <div class="avatarr2">
              <img src="img/6nHVgtOZRAarEqDQjQvU_Hydrators.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
            </div>
            <div id="categoryP-markdown87" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Hydrators</p>
            </div>
          </div>
          <div id="categoryP-container384" class="col-33">
            <div class="avatarr2">
              <img src="img/CIOUMF7NSipB7cew8YX1_Masks.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
            </div>
            <div id="categoryP-markdown88" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Masks</p>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
    <h2 id="categoryP-heading98" style="color:#1A7EDC;font-weight:300;text-align:center;">Masks</h2>
    <div id="categoryP-container388" class="row">
      <div id="categoryP-container386" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="productP()">
            <img src="img/dB8shJqaReug4X3FX9s1_TOMO0051F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="categoryP-button-bar49" class="button-bar xspace4">
          <button id="categoryP-button231" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="categoryP-button232" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="categoryP-heading99" style="color:#21A6EB;" class="stark4">TONYMOLY</h5>
        <div id="categoryP-markdown89" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Seaweed Mask Sheet</p>
        </div>
      </div>
      <div id="categoryP-container387" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="productP()">
            <img src="img/YWahALBxRXCdPLu0CPt8_ALSK0001F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="categoryP-button-bar50" class="button-bar xspace4">
          <button id="categoryP-button233" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="categoryP-button234" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="categoryP-heading100" style="color:#21A6EB;" class="stark4">ALYA SKIN</h5>
        <div id="categoryP-markdown90" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Australian Pink Clay Mask</p>
        </div>
      </div>
    </div>
    <div id="categoryP-container391" class="row">
      <div id="categoryP-container389" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="productP()">
            <img src="img/6i2J3M5RSyWGLB2Lktvb_STSK0068F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="categoryP-button-bar51" class="button-bar xspace4">
          <button id="categoryP-button235" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="categoryP-button236" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="categoryP-heading101" style="color:#21A6EB;" class="stark4">STARSKIN</h5>
        <div id="categoryP-markdown91" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">The Gold Eye Mask Pack</p>
        </div>
      </div>
      <div id="categoryP-container390" class="col-50 creator-container"></div>
    </div>
    <div id="categoryP-container397" class="row cusBar">
      <div id="categoryP-container392" class="col-20">
        <a ui-sref="homeP()" id="categoryP-button237" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="categoryP-container393" class="col-20">
        <a ui-sref="profileP()" id="categoryP-button238" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="categoryP-container394" class="col-20">
        <a ui-sref="clientsP()" id="categoryP-button239" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-barcode-outline"></a>
      </div>
      <div id="categoryP-container395" class="col-20">
        <a ui-sref="cartP()" id="categoryP-button240" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="categoryP-container396" class="col-20">
        <a ui-sref="settingsP()" id="categoryP-button241" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>