<ion-view title="Checkout" hide-nav-bar="true" id="page33">
  <ion-content padding="false" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 320px; height: 10px;"></div>
    <h2 id="checkout-heading31" style="color:#1A7EDC;font-weight:300;text-align:center;">Checkout</h2>
    <ion-list id="checkout-list4">
      <ion-item class="item-thumbnail-left royal starkx nopad" id="checkout-list-item3" ui-sref="product()">
        <img src="img/lmmZ0JjSle35WPRCo2Zz_ALSK0001F_1.jpg">
        <h2royal>ALYA SKIN
          <p>EGP 450 | x1</p>
        </h2royal>
      </ion-item>
    </ion-list>
    <form id="checkout-form13" class="list">
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input stark nopad" id="checkout-input8">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Nermeen Mohamed">
      </label>
      <label class="item item-input nopad" id="checkout-input9">
        <span class="input-label">Email</span>
        <input type="email" placeholder="nermeen.mohamed@gmail.com">
      </label>
      <label class="item item-input nopad" id="checkout-input10">
        <span class="input-label">Phone</span>
        <input type="tel" placeholder="01234567890">
      </label>
      <label class="item item-input stark2 nopad" id="checkout-input11">
        <span class="input-label">Address</span>
        <input type="text" placeholder="58 - Madinaty, B8">
      </label>
    </form>
    <form id="checkout-form14" class="list">
      <ion-checkbox id="checkout-checkbox1" class="starkx nopad">Credit Card</ion-checkbox>
      <ion-checkbox id="checkout-checkbox2" class="starkx nopad">Cash on Delivery</ion-checkbox>
      <div class="spacer" style="height: 10px;"></div>
      <div id="checkout-container155" class="row">
        <div id="checkout-container156" class="col-20 creator-container"></div>
        <div id="checkout-container158" class="col-60">
          <a ui-sref="thankYouPurchase()" id="checkout-button79" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Complete Order</a>
        </div>
        <div id="checkout-container157" class="col-20 creator-container"></div>
      </div>
    </form>
    <div id="checkout-container154" class="row cusBar2">
      <div id="checkout-container149" class="col-20">
        <a ui-sref="home()" id="checkout-button67" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="checkout-container150" class="col-20">
        <a ui-sref="profile()" id="checkout-button68" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="checkout-container151" class="col-20">
        <a ui-sref="cart()" id="checkout-button69" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="checkout-container152" class="col-20">
        <a ui-sref="favorites()" id="checkout-button77" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-heart-outline"></a>
      </div>
      <div id="checkout-container153" class="col-20">
        <a ui-sref="settings()" id="checkout-button78" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>