<ion-view title="ClientsP" hide-nav-bar="true" id="page43">
  <ion-content padding="true" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 320px; height: 10px;"></div>
    <h2 id="clientsP-heading90" style="color:#1A7EDC;font-weight:300;text-align:center;">Clients</h2>
    <ion-list id="clientsP-list9">
      <ion-item class="item-thumbnail-left item-icon-right royal starkx" id="clientsP-list-item19" ui-sref="scan()">
        <img src="img/xZ5HubCtQiSYRspOHjLD_client.png">
        <h2royal>Nermeen Mohamed
          <p>6245 Points</p>
          <i class="icon ion-checkmark-circled"></i>
          <ion-option-button class="button-royal">Scan</ion-option-button>
        </h2royal>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div id="clientsP-container333" class="row">
      <div id="clientsP-container330" class="col-20 creator-container"></div>
      <div id="clientsP-container331" class="col-60">
        <a ui-sref="search()" id="clientsP-button201" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Add Client</a>
      </div>
      <div id="clientsP-container332" class="col-20 creator-container"></div>
    </div>
    <div id="clientsP-container339" class="row cusBar2">
      <div id="clientsP-container334" class="col-20">
        <a ui-sref="homeP()" id="clientsP-button202" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="clientsP-container335" class="col-20">
        <a ui-sref="profileP()" id="clientsP-button203" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="clientsP-container336" class="col-20">
        <button id="clientsP-button204" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-barcode-outline"></button>
      </div>
      <div id="clientsP-container337" class="col-20">
        <a ui-sref="cartP()" id="clientsP-button205" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="clientsP-container338" class="col-20">
        <a ui-sref="settingsP()" id="clientsP-button206" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>
