<ion-view title="Favorites" hide-nav-bar="true" id="page16">
  <ion-content padding="false" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="favorites-form11" class="list">
      <label class="item item-input stark3" id="favorites-search4">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <h2 id="favorites-heading21" style="color:#1A7EDC;font-weight:300;text-align:center;">Favorites</h2>
    <div id="favorites-container116" class="row">
      <div id="favorites-container114" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="product()">
            <img src="img/dB8shJqaReug4X3FX9s1_TOMO0051F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="favorites-button-bar12" class="button-bar xspace4">
          <button id="favorites-button14" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart"></button>
          <button id="favorites-button15" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="favorites-heading22" style="color:#21A6EB;" class="stark4">TONYMOLY</h5>
        <div id="favorites-markdown32" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Seaweed Mask Sheet</p>
        </div>
      </div>
      <div id="favorites-container115" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="product()">
            <img src="img/YWahALBxRXCdPLu0CPt8_ALSK0001F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="favorites-button-bar14" class="button-bar xspace4">
          <button id="favorites-button18" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart"></button>
          <button id="favorites-button19" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="favorites-heading23" style="color:#21A6EB;" class="stark4">ALYA SKIN</h5>
        <div id="favorites-markdown33" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Australian Pink Clay Mask</p>
        </div>
      </div>
    </div>
    <div id="favorites-container131" class="row cusBar2">
      <div id="favorites-container126" class="col-20">
        <a ui-sref="home()" id="favorites-button33" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="favorites-container127" class="col-20">
        <a ui-sref="profile()" id="favorites-button34" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="favorites-container128" class="col-20">
        <a ui-sref="cart()" id="favorites-button35" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="favorites-container129" class="col-20">
        <button id="favorites-button36" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-heart-outline"></button>
      </div>
      <div id="favorites-container130" class="col-20">
        <a ui-sref="settings()" id="favorites-button37" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>