<ion-view title="Front" hide-nav-bar="true" id="page53">
  <ion-content padding="true" style="background: url(img/x9TSwkYRsiyNCM1Zbvgj_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="front-form15" class="list">
      <div class="spacer" style="height: 50px;"></div>
      <div class="animated slideInDown">
        <img src="img/Vb0fDyQQsW1WjzL6uB3R_Logo.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 15px;"></div>
      <div class="spacer" style="height: 15px;"></div>
    </form>
    <div id="front-container117" class="row">
      <div id="front-container118" class="col-50 animated slideInUp">
        <div>
          <a style="display:block;" ui-sref="loginP()">
            <img src="img/XNGJJIzRh2Ytua8pmQbo_doctors.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <h4 id="front-heading107" style="color:#1A7EDC;text-align:center;">DOCTORS</h4>
      </div>
      <div id="front-container132" class="col-50 animated slideInUp">
        <div>
          <a style="display:block;" ui-sref="login()">
            <img src="img/tqclsAT7RYCMT2VUJUg0_ladiez.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <h4 id="front-heading108" style="color:#1A7EDC;text-align:center;">LADIES</h4>
      </div>
    </div>
  </ion-content>
</ion-view>