<ion-view title="HelpP" hide-nav-bar="true" id="page51">
  <ion-content padding="false" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 20px;"></div>
    <h2 id="helpP-heading104" style="color:#1A7EDC;font-weight:300;text-align:center;">Send a message</h2>
    <form id="helpP-form31" class="list">
      <label class="item item-input stark nopad" id="helpP-input50">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Ali Fahmy">
      </label>
      <label class="item item-input nopad" id="helpP-input51">
        <span class="input-label">Email</span>
        <input type="email" placeholder="ali.fahmy@gmail.com">
      </label>
      <label class="item item-input nopad" id="helpP-input52">
        <span class="input-label">Phone</span>
        <input type="tel" placeholder="01234567890">
      </label>
      <label class="item item-input stark2 nopad msg" id="helpP-textarea2">
        <span class="input-label">Message</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="helpP-container415" class="row xspace2">
      <div id="helpP-container412" class="col-20 creator-container"></div>
      <div id="helpP-container413" class="col-60">
        <a ui-sref="thankYouMessageSentP()" id="helpP-button250" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Send</a>
      </div>
      <div id="helpP-container414" class="col-20 creator-container"></div>
    </div>
    <div id="helpP-container421" class="row cusBar2">
      <div id="helpP-container416" class="col-20">
        <a ui-sref="homeP()" id="helpP-button251" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="helpP-container417" class="col-20">
        <a ui-sref="profileP()" id="helpP-button252" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="helpP-container418" class="col-20">
        <a ui-sref="clientsP()" id="helpP-button253" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-barcode-outline"></a>
      </div>
      <div id="helpP-container419" class="col-20">
        <a ui-sref="cartP()" id="helpP-button254" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="helpP-container420" class="col-20">
        <a ui-sref="settingsP()" id="helpP-button255" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>