<ion-view title="Help" hide-nav-bar="true" id="page36">
  <ion-content padding="false" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 20px;"></div>
    <h2 id="help-heading50" style="color:#1A7EDC;font-weight:300;text-align:center;">Send a message</h2>
    <form id="help-form19" class="list">
      <label class="item item-input stark nopad" id="help-input23">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Nermeen Mohamed">
      </label>
      <label class="item item-input nopad" id="help-input24">
        <span class="input-label">Email</span>
        <input type="email" placeholder="nermeen.mohamed@gmail.com">
      </label>
      <label class="item item-input nopad" id="help-input25">
        <span class="input-label">Phone</span>
        <input type="tel" placeholder="01234567890">
      </label>
      <label class="item item-input stark2 nopad msg" id="help-textarea1">
        <span class="input-label">Message</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="help-container217" class="row xspace2">
      <div id="help-container214" class="col-20 creator-container"></div>
      <div id="help-container215" class="col-60">
        <a ui-sref="thankYouMessageSent()" id="help-button124" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Send</a>
      </div>
      <div id="help-container216" class="col-20 creator-container"></div>
    </div>
    <div id="help-container223" class="row cusBar2">
      <div id="help-container218" class="col-20">
        <a ui-sref="home()" id="help-button126" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="help-container219" class="col-20">
        <a ui-sref="profile()" id="help-button127" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="help-container220" class="col-20">
        <a ui-sref="cart()" id="help-button128" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="help-container221" class="col-20">
        <a ui-sref="favorites()" id="help-button129" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-heart-outline"></a>
      </div>
      <div id="help-container222" class="col-20">
        <a ui-sref="settings()" id="help-button130" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>