<ion-view title="HomeP" hide-nav-bar="true" id="page39">
  <ion-content padding="false" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="homeP-form24" class="list">
      <label class="item item-input stark3" id="homeP-search8">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div id="homeP-container269" class="row xspace2 secBg animated slideInRight">
      <div id="homeP-container267" class="col-40">
        <div class="avatarr">
          <a style="display:block;" ui-sref="profileP()">
            <img src="img/pb0ENEv1RsCDiwnzMwiv_doc.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
      </div>
      <div id="homeP-container268" class="col-60 thanus">
        <div class="spacer" style="width: 186px; height: 35px;"></div>
        <h4 id="homeP-heading69" style="color:#21A6EB;font-weight:600;font-style:italic;" class="animated slideInRight">Dr. Ali fahmy</h4>
        <h2 id="homeP-heading70" style="color:#1381E0;font-weight:600;font-style:italic;" class="xspace3 animated slideInRight">3271 Points</h2>
      </div>
    </div>
    <h2 id="homeP-heading71" style="color:#1381E0;font-weight:300;" class="thanus">Products</h2>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider7" delegate-handle="slider7" id="homeP-slider7" style="width:100%;height:200px;" class="cat">
      <ion-slide-page id="homeP-slide29">
        <div id="homeP-container273" class="row">
          <div id="homeP-container270" class="col-33">
            <div class="avatarr2">
              <a style="display:block;" ui-sref="categoryP()">
                <img src="img/rtRPAvYDQwkLQe76AKNv_treatment.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
              </a>
            </div>
            <div id="homeP-markdown66" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Treatment</p>
            </div>
          </div>
          <div id="homeP-container271" class="col-33">
            <div class="avatarr2">
              <a style="display:block;" ui-sref="categoryP()">
                <img src="img/ggadBgLASgyvqLqvHhjj_MOISTURISERS.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
              </a>
            </div>
            <div id="homeP-markdown67" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Moisturisers</p>
            </div>
          </div>
          <div id="homeP-container272" class="col-33">
            <div class="avatarr2">
              <a style="display:block;" ui-sref="categoryP()">
                <img src="img/abeHRCgrTbCbJFBK9yT3_Cleansers.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
              </a>
            </div>
            <div id="homeP-markdown68" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Cleansers</p>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="homeP-slide212" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;">
        <div id="homeP-container277" class="row">
          <div id="homeP-container274" class="col-33">
            <div class="avatarr2">
              <a style="display:block;" ui-sref="categoryP()">
                <img src="img/xvshzAcTWuElKEzgeCcQ_Toners.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
              </a>
            </div>
            <div id="homeP-markdown69" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Toners</p>
            </div>
          </div>
          <div id="homeP-container275" class="col-33">
            <div class="avatarr2">
              <a style="display:block;" ui-sref="categoryP()">
                <img src="img/6nHVgtOZRAarEqDQjQvU_Hydrators.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
              </a>
            </div>
            <div id="homeP-markdown70" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Hydrators</p>
            </div>
          </div>
          <div id="homeP-container276" class="col-33">
            <div class="avatarr2">
              <a style="display:block;" ui-sref="categoryP()">
                <img src="img/CIOUMF7NSipB7cew8YX1_Masks.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
              </a>
            </div>
            <div id="homeP-markdown71" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#21A6EB;">Masks</p>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
    <h2 id="homeP-heading72" style="color:#1381E0;font-weight:300;" class="thanus">New Arrivals</h2>
    <div id="homeP-container280" class="row">
      <div id="homeP-container278" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="productP()">
            <img src="img/6cDdPHc8QgSSoYUotmrd_ALPH0016F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="homeP-button-bar38" class="button-bar xspace4">
          <button id="homeP-button160" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="homeP-button161" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="homeP-heading73" style="color:#21A6EB;" class="stark4">ALPHA-H</h5>
        <div id="homeP-markdown72" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Daily Essential Moisturiser</p>
        </div>
      </div>
      <div id="homeP-container279" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="productP()">
            <img src="img/YWahALBxRXCdPLu0CPt8_ALSK0001F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="homeP-button-bar39" class="button-bar xspace4">
          <button id="homeP-button162" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="homeP-button163" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="homeP-heading74" style="color:#21A6EB;" class="stark4">ALYA SKIN</h5>
        <div id="homeP-markdown73" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Australian Pink Clay Mask</p>
        </div>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="homeP-container283" class="row">
      <div id="homeP-container281" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="productP()">
            <img src="img/IbuQeJR5S5uSwG7Pq1xw_CARB0004F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="homeP-button-bar40" class="button-bar xspace4">
          <button id="homeP-button164" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="homeP-button165" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="homeP-heading75" style="color:#21A6EB;" class="stark4">CARBON THEORY</h5>
        <div id="homeP-markdown74" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Facial Purifying Tonic</p>
        </div>
      </div>
      <div id="homeP-container282" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="productP()">
            <img src="img/dB8shJqaReug4X3FX9s1_TOMO0051F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="homeP-button-bar41" class="button-bar xspace4">
          <button id="homeP-button166" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="homeP-button167" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="homeP-heading76" style="color:#21A6EB;" class="stark4">TONYMOLY</h5>
        <div id="homeP-markdown75" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Seaweed Mask Sheet</p>
        </div>
      </div>
    </div>
    <h2 id="homeP-heading77" style="color:#1381E0;font-weight:300;" class="thanus">Featured</h2>
    <div id="homeP-container286" class="row">
      <div id="homeP-container284" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="productP()">
            <img src="img/7U9sukzvTq6jYwEo1yI7_FARS0013F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="homeP-button-bar42" class="button-bar xspace4">
          <button id="homeP-button168" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="homeP-button169" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="homeP-heading78" style="color:#21A6EB;" class="stark4">MARIO BADESCU</h5>
        <div id="homeP-markdown76" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Facial Spray Aloe Herbs</p>
        </div>
      </div>
      <div id="homeP-container285" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="productP()">
            <img src="img/POwRJ6vTDO23Afx3WINa_MABA0067F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="homeP-button-bar43" class="button-bar xspace4">
          <button id="homeP-button170" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="homeP-button171" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="homeP-heading79" style="color:#21A6EB;" class="stark4">MARIO BADESCU</h5>
        <div id="homeP-markdown77" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Drying Lotion Plastic</p>
        </div>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="homeP-container289" class="row">
      <div id="homeP-container287" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="productP()">
            <img src="img/OnW24gcoQM6IUjELtaAV_MABA0193U_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="homeP-button-bar44" class="button-bar xspace4">
          <button id="homeP-button172" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="homeP-button173" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="homeP-heading80" style="color:#21A6EB;" class="stark4">MARIO BADESCU</h5>
        <div id="homeP-markdown78" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Spritz.Mist.Glow Set</p>
        </div>
      </div>
      <div id="homeP-container288" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="productP()">
            <img src="img/6i2J3M5RSyWGLB2Lktvb_STSK0068F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="homeP-button-bar45" class="button-bar xspace4">
          <button id="homeP-button174" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="homeP-button175" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="homeP-heading81" style="color:#21A6EB;" class="stark4">STARSKIN</h5>
        <div id="homeP-markdown79" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">The Gold Eye Mask Pack</p>
        </div>
      </div>
    </div>
    <div id="homeP-container295" class="row cusBar">
      <div id="homeP-container290" class="col-20">
        <button id="homeP-button176" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></button>
      </div>
      <div id="homeP-container291" class="col-20">
        <a ui-sref="profileP()" id="homeP-button177" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="homeP-container292" class="col-20">
        <a ui-sref="clientsP()" id="homeP-button178" style="color:#21A6EB;" class="button button-royal button-small button-block button-icon icon ion-ios-barcode-outline"></a>
      </div>
      <div id="homeP-container293" class="col-20">
        <a ui-sref="cartP()" id="homeP-button179" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="homeP-container294" class="col-20">
        <a ui-sref="settingsP()" id="homeP-button180" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>