<ion-view title="Home" hide-nav-bar="true" id="page38">
  <ion-content padding="false" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="home-form23" class="list">
      <label class="item item-input stark3" id="home-search7">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div id="home-container240" class="row xspace2 secBg animated slideInRight">
      <div id="home-container238" class="col-40">
        <div class="avatarr">
          <a style="display:block;" ui-sref="profile()">
            <img src="img/5OsZmcjeQZKqH5P3hozB_client.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
      </div>
      <div id="home-container239" class="col-60 thanus">
        <div class="spacer" style="width: 186px; height: 35px;"></div>
        <h4 id="home-heading56" style="color:#21A6EB;font-weight:600;font-style:italic;" class="animated slideInRight">Nermeen Mohamed </h4>
        <h2 id="home-heading57" style="color:#1A7EDC;font-weight:600;font-style:italic;" class="xspace3 animated slideInRight">6245 Points</h2>
      </div>
    </div>
    <h2 id="home-heading58" style="color:#1A7EDC;font-weight:300;" class="thanus">Products</h2>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider6" delegate-handle="slider6" id="home-slider6" style="width:100%;height:200px;" class="cat">
      <ion-slide-page id="home-slide27">
        <div id="home-container244" class="row">
          <div id="home-container241" class="col-33">
            <div class="avatarr2">
              <a style="display:block;" ui-sref="category()">
                <img src="img/rtRPAvYDQwkLQe76AKNv_treatment.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
              </a>
            </div>
            <div id="home-markdown52" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#1A7EDC;">Treatment</p>
            </div>
          </div>
          <div id="home-container242" class="col-33">
            <div class="avatarr2">
              <a style="display:block;" ui-sref="category()">
                <img src="img/ggadBgLASgyvqLqvHhjj_MOISTURISERS.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
              </a>
            </div>
            <div id="home-markdown53" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#1A7EDC;">Moisturisers</p>
            </div>
          </div>
          <div id="home-container243" class="col-33">
            <div class="avatarr2">
              <a style="display:block;" ui-sref="category()">
                <img src="img/abeHRCgrTbCbJFBK9yT3_Cleansers.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
              </a>
            </div>
            <div id="home-markdown54" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#1A7EDC;">Cleansers</p>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="home-slide28" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;">
        <div id="home-container248" class="row">
          <div id="home-container245" class="col-33">
            <div class="avatarr2">
              <a style="display:block;" ui-sref="category()">
                <img src="img/xvshzAcTWuElKEzgeCcQ_Toners.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
              </a>
            </div>
            <div id="home-markdown55" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#1A7EDC;">Toners</p>
            </div>
          </div>
          <div id="home-container246" class="col-33">
            <div class="avatarr2">
              <a style="display:block;" ui-sref="category()">
                <img src="img/6nHVgtOZRAarEqDQjQvU_Hydrators.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
              </a>
            </div>
            <div id="home-markdown56" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#1A7EDC;">Hydrators</p>
            </div>
          </div>
          <div id="home-container247" class="col-33">
            <div class="avatarr2">
              <a style="display:block;" ui-sref="category()">
                <img src="img/CIOUMF7NSipB7cew8YX1_Masks.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
              </a>
            </div>
            <div id="home-markdown57" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#1A7EDC;">Masks</p>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
    <h2 id="home-heading59" style="color:#1A7EDC;font-weight:300;" class="thanus">New Arrivals</h2>
    <div id="home-container251" class="row">
      <div id="home-container249" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="product()">
            <img src="img/6cDdPHc8QgSSoYUotmrd_ALPH0016F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="home-button-bar30" class="button-bar xspace4">
          <button id="home-button139" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="home-button140" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="home-heading60" style="color:#1A7EDC;" class="stark4">ALPHA-H</h5>
        <div id="home-markdown58" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Daily Essential Moisturiser</p>
        </div>
      </div>
      <div id="home-container250" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="product()">
            <img src="img/YWahALBxRXCdPLu0CPt8_ALSK0001F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="home-button-bar31" class="button-bar xspace4">
          <button id="home-button141" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="home-button142" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="home-heading61" style="color:#21A6EB;" class="stark4">ALYA SKIN</h5>
        <div id="home-markdown59" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Australian Pink Clay Mask</p>
        </div>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="home-container254" class="row">
      <div id="home-container252" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="product()">
            <img src="img/IbuQeJR5S5uSwG7Pq1xw_CARB0004F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="home-button-bar32" class="button-bar xspace4">
          <button id="home-button143" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="home-button144" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="home-heading62" style="color:#21A6EB;" class="stark4">CARBON THEORY</h5>
        <div id="home-markdown60" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Facial Purifying Tonic</p>
        </div>
      </div>
      <div id="home-container253" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="product()">
            <img src="img/dB8shJqaReug4X3FX9s1_TOMO0051F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="home-button-bar33" class="button-bar xspace4">
          <button id="home-button145" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="home-button146" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="home-heading63" style="color:#21A6EB;" class="stark4">TONYMOLY</h5>
        <div id="home-markdown61" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Seaweed Mask Sheet</p>
        </div>
      </div>
    </div>
    <h2 id="home-heading64" style="color:#1A7EDC;font-weight:300;" class="thanus">Featured</h2>
    <div id="home-container257" class="row">
      <div id="home-container255" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="product()">
            <img src="img/7U9sukzvTq6jYwEo1yI7_FARS0013F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="home-button-bar34" class="button-bar xspace4">
          <button id="home-button147" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="home-button148" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="home-heading65" style="color:#21A6EB;" class="stark4">MARIO BADESCU</h5>
        <div id="home-markdown62" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Facial Spray Aloe Herbs</p>
        </div>
      </div>
      <div id="home-container256" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="product()">
            <img src="img/POwRJ6vTDO23Afx3WINa_MABA0067F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="home-button-bar35" class="button-bar xspace4">
          <button id="home-button149" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="home-button150" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="home-heading66" style="color:#21A6EB;" class="stark4">MARIO BADESCU</h5>
        <div id="home-markdown63" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Drying Lotion Plastic</p>
        </div>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="home-container260" class="row">
      <div id="home-container258" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="product()">
            <img src="img/OnW24gcoQM6IUjELtaAV_MABA0193U_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="home-button-bar36" class="button-bar xspace4">
          <button id="home-button151" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="home-button152" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="home-heading67" style="color:#21A6EB;" class="stark4">MARIO BADESCU</h5>
        <div id="home-markdown64" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">Spritz.Mist.Glow Set</p>
        </div>
      </div>
      <div id="home-container259" class="col-50">
        <div class="prod">
          <a style="display:block;" ui-sref="product()">
            <img src="img/6i2J3M5RSyWGLB2Lktvb_STSK0068F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="home-button-bar37" class="button-bar xspace4">
          <button id="home-button153" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
          <button id="home-button154" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></button>
        </div>
        <h5 id="home-heading68" style="color:#21A6EB;" class="stark4">STARSKIN</h5>
        <div id="home-markdown65" class="show-list-numbers-and-dots stark4">
          <p style="color:#000000;font-size:12px;">The Gold Eye Mask Pack</p>
        </div>
      </div>
    </div>
    <div id="home-container266" class="row cusBar">
      <div id="home-container261" class="col-20">
        <button id="home-button155" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></button>
      </div>
      <div id="home-container262" class="col-20">
        <a ui-sref="profile()" id="home-button156" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="home-container263" class="col-20">
        <a ui-sref="cart()" id="home-button157" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="home-container264" class="col-20">
        <a ui-sref="favorites()" id="home-button158" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-heart-outline"></a>
      </div>
      <div id="home-container265" class="col-20">
        <a ui-sref="settings()" id="home-button159" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>