<ion-view title="Login" hide-nav-bar="true" id="page3">
  <ion-content padding="true" style="background: url(img/x9TSwkYRsiyNCM1Zbvgj_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="login-form2" class="list">
      <div class="spacer" style="height: 50px;"></div>
      <div class="animated slideInDown">
        <img src="img/Vb0fDyQQsW1WjzL6uB3R_Logo.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 15px;"></div>
      <label class="item item-input stark animated fadeIn" id="login-input4">
        <span class="input-label">Username</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input stark2 animated fadeIn" id="login-input5">
        <span class="input-label">Password</span>
        <input type="password" placeholder="">
      </label>
      <div id="login-container38" class="row">
        <div id="login-container39" class="col-20 creator-container"></div>
        <div id="login-container40" class="col-60">
          <a id="login-button11" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block animated fadeIn" ui-sref="home()">Log in</a>
        </div>
        <div id="login-container41" class="col-20 creator-container"></div>
      </div>
      <button id="login-button47" class="button button-positive button-block button-clear xspace2 animated fadeIn">Forgot your password?</button>
      <h4 id="login-heading16" style="color:#21A6EB;font-weight:300;text-align:center;">Or</h4>
      <div class="spacer" style="height: 15px;"></div>
      <a ui-sref="signup()" id="login-button13" class="button button-positive button-block button-clear xspace2 animated fadeIn">New user? Register</a>
    </form>
  </ion-content>
</ion-view>