<ion-view title="Points" hide-nav-bar="true" id="page37">
  <ion-content padding="false" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 20px;"></div>
    <div class="avatarr">
      <img src="img/5OsZmcjeQZKqH5P3hozB_client.png" style="display: block; width: 39%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="points-heading52" style="color:#21A6EB;font-weight:600;text-align:center;">Nermeen Mohamed </h4>
    <h2 id="points-heading53" style="color:#1A7EDC;font-weight:600;text-align:center;" class="xspace3">6245 Points</h2>
    <div id="points-container227" class="row xspace3">
      <div id="points-container224" class="col-20 creator-container"></div>
      <div id="points-container225" class="col-60">
        <button id="points-button131" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Redeem</button>
      </div>
      <div id="points-container226" class="col-20 creator-container"></div>
    </div>
    <h2 id="points-heading54" style="color:#1A7EDC;font-weight:300;" class="thanus">Orders History</h2>
    <ion-list id="points-list6">
      <ion-item class="item-thumbnail-left royal nopad starkx" id="points-list-item5">
        <img src="img/vGdX20eOTaqubb8c9NxC_TOMO0051F_1.jpg">
        <h2royal>TONYMOLY
          <p>120 Points</p>
        </h2royal>
      </ion-item>
      <ion-item class="item-thumbnail-left royal nopad starkx" id="points-list-item6">
        <img src="img/L47xORGQQGJJITTdb9hY_ALPH0016F_1.jpg">
        <h2royal>ALPHA-H
          <p>120 Points</p>
        </h2royal>
      </ion-item>
      <ion-item class="item-thumbnail-left royal nopad starkx" id="points-list-item7">
        <img src="img/WS2Znsr3QVCHWy8wWBNp_ALSK0001F_1.jpg">
        <h2royal>ALYA SKIN
          <p>120 Points</p>
        </h2royal>
      </ion-item>
      <ion-item class="item-thumbnail-left royal nopad starkx" id="points-list-item8">
        <img src="img/FSXB2sHTTAu6acNxkP9c_CARB0004F_1.jpg">
        <h2royal>CARBON THEORY
          <p>120 Points</p>
        </h2royal>
      </ion-item>
      <ion-item class="item-thumbnail-left royal nopad starkx" id="points-list-item9">
        <img src="img/yud2YallTW2g8htA88nn_STSK0068F_1.jpg">
        <h2royal>STAR SKIN
          <p>120 Points</p>
        </h2royal>
      </ion-item>
      <ion-item class="item-thumbnail-left royal nopad starkx" id="points-list-item10">
        <img src="img/vGdX20eOTaqubb8c9NxC_TOMO0051F_1.jpg">
        <h2royal>TONYMOLY
          <p>120 Points</p>
        </h2royal>
      </ion-item>
    </ion-list>
    <div id="points-container237" class="row cusBar">
      <div id="points-container232" class="col-20">
        <a ui-sref="home()" id="points-button134" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="points-container233" class="col-20">
        <button id="points-button135" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></button>
      </div>
      <div id="points-container234" class="col-20">
        <a ui-sref="cart()" id="points-button136" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="points-container235" class="col-20">
        <a ui-sref="favorites()" id="points-button137" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-heart-outline"></a>
      </div>
      <div id="points-container236" class="col-20">
        <a ui-sref="settings()" id="points-button138" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>