<ion-view title="PointsP" hide-nav-bar="true" id="page42">
  <ion-content padding="false" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 20px;"></div>
    <div class="avatarr">
      <img src="img/ILt5C3RZRi6b0ahej5Kc_doc.png" style="display: block; width: 39%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="pointsP-heading87" style="color:#21A6EB;font-weight:600;text-align:center;">Dr. Ali Fahmy</h4>
    <h2 id="pointsP-heading88" style="color:#1A7EDC;font-weight:600;text-align:center;" class="xspace3">3271 Points</h2>
    <div id="pointsP-container323" class="row xspace3">
      <div id="pointsP-container320" class="col-20 creator-container"></div>
      <div id="pointsP-container321" class="col-60">
        <button id="pointsP-button195" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Redeem</button>
      </div>
      <div id="pointsP-container322" class="col-20 creator-container"></div>
    </div>
    <h2 id="pointsP-heading89" style="color:#1A7EDC;font-weight:300;" class="thanus">Orders History</h2>
    <ion-list id="pointsP-list8">
      <ion-item class="item-thumbnail-left royal nopad starkx" id="pointsP-list-item13">
        <img src="img/vGdX20eOTaqubb8c9NxC_TOMO0051F_1.jpg">
        <h2royal>TONYMOLY [120 Points ]
          <p>Enji Ismael</p>
          <ion-option-button class="button-royal">Profile</ion-option-button>
        </h2royal>
      </ion-item>
      <ion-item class="item-thumbnail-left royal nopad starkx" id="pointsP-list-item14">
        <img src="img/L47xORGQQGJJITTdb9hY_ALPH0016F_1.jpg">
        <h2royal>ALPHA-H [120 Points ]
          <p>Nermeen Mohamed</p>
          <ion-option-button class="button-royal">Profile</ion-option-button>
        </h2royal>
      </ion-item>
      <ion-item class="item-thumbnail-left royal nopad starkx" id="pointsP-list-item15">
        <img src="img/WS2Znsr3QVCHWy8wWBNp_ALSK0001F_1.jpg">
        <h2royal>ALYA SKIN [120 Points ]
          <p>Dina Adel</p>
          <ion-option-button class="button-royal">Profile</ion-option-button>
        </h2royal>
      </ion-item>
      <ion-item class="item-thumbnail-left royal nopad starkx" id="pointsP-list-item16">
        <img src="img/FSXB2sHTTAu6acNxkP9c_CARB0004F_1.jpg">
        <h2royal>CARBON THEORY [120 Points ]
          <p>Walaa Turky</p>
          <ion-option-button class="button-royal">Profile</ion-option-button>
        </h2royal>
      </ion-item>
      <ion-item class="item-thumbnail-left royal nopad starkx" id="pointsP-list-item17">
        <img src="img/yud2YallTW2g8htA88nn_STSK0068F_1.jpg">
        <h2royal>STAR SKIN [120 Points ]
          <p>Mai Hassan</p>
          <ion-option-button class="button-royal">Profile</ion-option-button>
        </h2royal>
      </ion-item>
      <ion-item class="item-thumbnail-left royal nopad starkx" id="pointsP-list-item18" ui-sref="">
        <img src="img/vGdX20eOTaqubb8c9NxC_TOMO0051F_1.jpg">
        <h2royal>TONYMOLY [120 Points ]
          <p>Nermeen Mohamed</p>
          <ion-option-button class="button-royal">Profile</ion-option-button>
        </h2royal>
      </ion-item>
    </ion-list>
    <div id="pointsP-container329" class="row cusBar">
      <div id="pointsP-container324" class="col-20">
        <a ui-sref="homeP()" id="pointsP-button196" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="pointsP-container325" class="col-20">
        <a ui-sref="profileP()" id="pointsP-button197" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="pointsP-container326" class="col-20">
        <a ui-sref="clientsP()" id="pointsP-button198" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-barcode-outline"></a>
      </div>
      <div id="pointsP-container327" class="col-20">
        <a ui-sref="cartP()" id="pointsP-button199" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="pointsP-container328" class="col-20">
        <a ui-sref="settingsP()" id="pointsP-button200" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>