<ion-view title="ProductP" hide-nav-bar="true" id="page47">
  <ion-content padding="false" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="productP-form28" class="list">
      <label class="item item-input stark3" id="productP-search10">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div class="list card starkx" id="productP-card22">
      <h2 id="productP-heading97" style="color:#1A7EDC;font-weight:300;text-align:center;">ALYA SKIN</h2>
      <div class=" item item-image">
        <img src="img/T6Ub24oQfehrjWeKFNIl_ALSK0001F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="productP-list-item-container3">
        <div id="productP-markdown82" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Description</strong>
          </p>

          <p style="color:#000000;">A detoxifying and brightening face mask. Suitable for sensitive skin, Australian Pink Clay Mask can be used weekly to create a smoother, softer and healthier-looking complexion. </p>
        </div>
      </div>
      <div id="productP-button-bar48" class="button-bar">
        <button id="productP-button224" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
        <a ui-sref="cartP()" id="productP-button225" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></a>
      </div>
    </div>
    <div id="productP-container377" class="row cusBar">
      <div id="productP-container372" class="col-20">
        <a ui-sref="homeP()" id="productP-button226" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="productP-container373" class="col-20">
        <a ui-sref="profileP()" id="productP-button227" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="productP-container374" class="col-20">
        <a ui-sref="clientsP()" id="productP-button228" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-barcode-outline"></a>
      </div>
      <div id="productP-container375" class="col-20">
        <a ui-sref="cartP()" id="productP-button229" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="productP-container376" class="col-20">
        <a ui-sref="settingsP()" id="productP-button230" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>
