<ion-view title="Product" hide-nav-bar="true" id="page15">
  <ion-content padding="false" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="product-form10" class="list">
      <label class="item item-input stark3" id="product-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div class="list card starkx" id="product-card21">
      <h2 id="product-heading34" style="color:#1A7EDC;font-weight:300;text-align:center;">ALYA SKIN</h2>
      <div class=" item item-image">
        <img src="img/T6Ub24oQfehrjWeKFNIl_ALSK0001F_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="product-list-item-container2">
        <div id="product-markdown41" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Description</strong>
          </p>

          <p style="color:#000000;">A detoxifying and brightening face mask. Suitable for sensitive skin, Australian Pink Clay Mask can be used weekly to create a smoother, softer and healthier-looking complexion. </p>

          <p style="color:#000000;">
            <strong>Price</strong>
          </p>

          <p style="color:#000000;">EGP 450 | 120g</p>
        </div>
      </div>
      <div id="product-button-bar20" class="button-bar">
        <button id="product-button9" style="color:#B3001B;" class="button button-assertive button-block button-icon icon-left ion-ios-heart-outline"></button>
        <a ui-sref="cart()" id="product-button12" style="color:#21A6EB;" class="button button-positive button-block button-icon icon-right ion-ios-cart"></a>
      </div>
    </div>
    <div id="product-container125" class="row cusBar">
      <div id="product-container120" class="col-20">
        <a ui-sref="home()" id="product-button20" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="product-container121" class="col-20">
        <a ui-sref="profile()" id="product-button27" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="product-container122" class="col-20">
        <a ui-sref="cart()" id="product-button28" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="product-container123" class="col-20">
        <a ui-sref="favorites()" id="product-button29" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-heart-outline"></a>
      </div>
      <div id="product-container124" class="col-20">
        <a ui-sref="settings()" id="product-button30" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>