<ion-view title="ProfileP" hide-nav-bar="true" id="page41">
  <ion-content padding="false" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 20px;"></div>
    <div class="avatarr">
      <img src="img/tbm1OhoQ4mVweqMmu4kv_doc.png" style="display: block; width: 39%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="profileP-heading83" style="color:#21A6EB;font-weight:600;text-align:center;">Dr. Ali Fahmy</h4>
    <h2 id="profileP-heading84" style="color:#1A7EDC;font-weight:600;text-align:center;" class="xspace3">3271 Points</h2>
    <div id="profileP-container309" class="row xspace3">
      <div id="profileP-container306" class="col-20 creator-container"></div>
      <div id="profileP-container307" class="col-60">
        <a ui-sref="pointsP()" id="profileP-button187" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">History</a>
        <button id="profileP-button114" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Request Appointment</button>
      </div>
      <div id="profileP-container308" class="col-20 creator-container"></div>
    </div>
    <h2 id="profileP-heading85" style="color:#1A7EDC;font-weight:300;" class="thanus">Personal Info</h2>
    <form id="profileP-form25" class="list">
      <label class="item item-input stark nopad" id="profileP-input41">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Ali Fahmy">
      </label>
      <label class="item item-input nopad" id="profileP-input42">
        <span class="input-label">Email</span>
        <input type="email" placeholder="ali.fahmy@gmail.com">
      </label>
      <label class="item item-input nopad" id="profileP-input43">
        <span class="input-label">Phone</span>
        <input type="tel" placeholder="01234567890">
      </label>
      <label class="item item-input nopad" id="profileP-input44">
        <span class="input-label">Username</span>
        <input type="text" placeholder="nermeen87">
      </label>
      <label class="item item-input stark2 nopad" id="profileP-input45">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password">
      </label>
    </form>
    <h2 id="profileP-heading86" style="color:#1A7EDC;font-weight:300;" class="thanus">Billing</h2>
    <form id="profileP-form26" class="list">
      <label class="item item-input stark nopad" id="profileP-input46">
        <span class="input-label">Address</span>
        <input type="text" placeholder="58 - Madinaty, B8">
      </label>
      <label class="item item-select nopad" id="profileP-select4">
        <span class="input-label">Payment</span>
        <select>
          <option>Credit Card</option>
          <option>Fawry</option>
          <option>Cash on Delivery</option>
        </select>
      </label>
      <label class="item item-input nopad" id="profileP-input47">
        <span class="input-label">Card #</span>
        <input type="number" placeholder="4521 5547 0021 5467">
      </label>
      <label class="item item-input nopad" id="profileP-input48">
        <span class="input-label">Expiry Date</span>
        <input type="date" placeholder="10/23">
      </label>
      <label class="item item-input stark2 nopad" id="profileP-input49">
        <span class="input-label">CCV</span>
        <input type="number" placeholder="">
      </label>
    </form>
    <div id="profileP-container313" class="row xspace2">
      <div id="profileP-container310" class="col-20 creator-container"></div>
      <div id="profileP-container311" class="col-60">
        <button id="profileP-button188" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Save</button>
        <a ui-sref="loginP()" id="profileP-button189" class="button button-positive button-block button-clear">Logout</a>
      </div>
      <div id="profileP-container312" class="col-20 creator-container"></div>
    </div>
    <div id="profileP-container319" class="row cusBar">
      <div id="profileP-container314" class="col-20">
        <a ui-sref="homeP()" id="profileP-button190" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="profileP-container315" class="col-20">
        <button id="profileP-button191" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></button>
      </div>
      <div id="profileP-container316" class="col-20">
        <a ui-sref="clientsP()" id="profileP-button192" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-barcode-outline"></a>
      </div>
      <div id="profileP-container317" class="col-20">
        <a ui-sref="cartP()" id="profileP-button193" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="profileP-container318" class="col-20">
        <a ui-sref="settingsP()" id="profileP-button194" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>