<ion-view title="Profile" hide-nav-bar="true" id="page34">
  <ion-content padding="false" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 20px;"></div>
    <div class="avatarr">
      <img src="img/5OsZmcjeQZKqH5P3hozB_client.png" style="display: block; width: 39%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="profile-heading32" style="color:#21A6EB;font-weight:600;text-align:center;">Nermeen Mohamed </h4>
    <h2 id="profile-heading35" style="color:#1A7EDC;font-weight:600;text-align:center;" class="xspace3">6245 Points</h2>
    <div id="profile-container188" class="row xspace3">
      <div id="profile-container189" class="col-20 creator-container"></div>
      <div id="profile-container190" class="col-60">
        <a ui-sref="points()" id="profile-button101" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">History</a>
      </div>
      <div id="profile-container191" class="col-20 creator-container"></div>
    </div>
    <h2 id="profile-heading36" style="color:#1A7EDC;font-weight:300;" class="thanus">Personal Info</h2>
    <form id="profile-form16" class="list">
      <label class="item item-input stark nopad" id="profile-input12">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Nermeen Mohamed">
      </label>
      <label class="item item-input nopad" id="profile-input13">
        <span class="input-label">Email</span>
        <input type="email" placeholder="nermeen.mohamed@gmail.com">
      </label>
      <label class="item item-input nopad" id="profile-input14">
        <span class="input-label">Phone</span>
        <input type="tel" placeholder="01234567890">
      </label>
      <label class="item item-input nopad" id="profile-input16">
        <span class="input-label">Username</span>
        <input type="text" placeholder="nermeen87">
      </label>
      <label class="item item-input stark2 nopad" id="profile-input17">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password">
      </label>
    </form>
    <h2 id="profile-heading37" style="color:#1A7EDC;font-weight:300;" class="thanus">Billing</h2>
    <form id="profile-form17" class="list">
      <label class="item item-input stark nopad" id="profile-input18">
        <span class="input-label">Address</span>
        <input type="text" placeholder="58 - Madinaty, B8">
      </label>
      <label class="item item-select nopad" id="profile-select1">
        <span class="input-label">Payment</span>
        <select>
          <option>Credit Card</option>
          <option>Fawry</option>
          <option>Cash on Delivery</option>
        </select>
      </label>
      <label class="item item-input nopad" id="profile-input20">
        <span class="input-label">Card #</span>
        <input type="number" placeholder="4521 5547 0021 5467">
      </label>
      <label class="item item-input nopad" id="profile-input21">
        <span class="input-label">Expiry Date</span>
        <input type="date" placeholder="10/23">
      </label>
      <label class="item item-input stark2 nopad" id="profile-input22">
        <span class="input-label">CCV</span>
        <input type="number" placeholder="">
      </label>
    </form>
    <div id="profile-container195" class="row xspace2">
      <div id="profile-container192" class="col-20 creator-container"></div>
      <div id="profile-container193" class="col-60">
        <button id="profile-button102" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Save</button>
        <a ui-sref="login()" id="profile-button122" class="button button-positive button-block button-clear">Logout</a>
      </div>
      <div id="profile-container194" class="col-20 creator-container"></div>
    </div>
    <div id="profile-container187" class="row cusBar">
      <div id="profile-container182" class="col-20">
        <a ui-sref="home()" id="profile-button96" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="profile-container183" class="col-20">
        <button id="profile-button97" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></button>
      </div>
      <div id="profile-container184" class="col-20">
        <a ui-sref="cart()" id="profile-button98" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="profile-container185" class="col-20">
        <a ui-sref="favorites()" id="profile-button99" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-heart-outline"></a>
      </div>
      <div id="profile-container186" class="col-20">
        <a ui-sref="settings()" id="profile-button100" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>