<ion-view title="Scan successful" hide-nav-bar="true" id="page46">
  <ion-content padding="true" style="background: url(img/ZQKrJvZYTri2bbppe1jt_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div id="scanSuccessful-container367" class="row">
      <div id="scanSuccessful-container364" class="col-33 creator-container"></div>
      <div id="scanSuccessful-container365" class="col-33">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
          <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"></circle>
          <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "></polyline>
        </svg>
      </div>
      <div id="scanSuccessful-container366" class="col-33 creator-container"></div>
    </div>
    <h3 id="scanSuccessful-heading96" style="color:#477033;text-align:center;" class="animated zoomIn">The barcode has been scanned successfully.</h3>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div id="scanSuccessful-container371" class="row">
      <div id="scanSuccessful-container368" class="col-20 creator-container"></div>
      <div id="scanSuccessful-container369" class="col-60">
        <a ui-sref="scan()" id="scanSuccessful-button223" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Back</a>
      </div>
      <div id="scanSuccessful-container370" class="col-20 creator-container"></div>
    </div>
  </ion-content>
</ion-view>