<ion-view title="Scan" hide-nav-bar="true" id="page45">
  <ion-content padding="true" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 320px; height: 10px;"></div>
    <h2 id="scan-heading95" style="color:#1A7EDC;font-weight:300;text-align:center;">Scan</h2>
    <div style="margin: 0px; line-height: 250px; background-color: #000; text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: #000; vertical-align: middle;"></i>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="scan-container357" class="row">
      <div id="scan-container354" class="col-20 creator-container"></div>
      <div id="scan-container355" class="col-60">
        <a ui-sref="scanSuccessful()" id="scan-button217" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Scan</a>
      </div>
      <div id="scan-container356" class="col-20 creator-container"></div>
    </div>
    <div id="scan-container363" class="row cusBar2">
      <div id="scan-container358" class="col-20">
        <a ui-sref="homeP()" id="scan-button218" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="scan-container359" class="col-20">
        <a ui-sref="profileP()" id="scan-button219" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="scan-container360" class="col-20">
        <a ui-sref="clientsP()" id="scan-button220" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-barcode-outline"></a>
      </div>
      <div id="scan-container361" class="col-20">
        <a ui-sref="cartP()" id="scan-button221" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="scan-container362" class="col-20">
        <a ui-sref="settingsP()" id="scan-button222" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>
