<ion-view title="Search" hide-nav-bar="true" id="page44">
  <ion-content padding="false" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="search-form27" class="list">
      <div class="spacer" style="height: 20px;"></div>
      <h2 id="search-heading91" style="color:#1A7EDC;font-weight:300;text-align:center;">Search</h2>
      <label class="item item-input stark3" id="search-search9">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-list id="search-list10">
      <ion-item class="item-thumbnail-left item-icon-right royal nopad starkx" id="search-list-item20" ui-sref="clientsP()">
        <img src="img/78NQwW2qSTC25YLFILOV_client2.png">
        <h2royal>Dina Adel
          <p>2441 Points</p>
          <i class="icon ion-ios-plus"></i>
        </h2royal>
      </ion-item>
    </ion-list>
    <div id="search-container348" class="row cusBar2">
      <div id="search-container343" class="col-20">
        <a href-inappbrowser="page4" id="search-button211" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="search-container344" class="col-20">
        <a ui-sref="profile()" id="search-button212" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="search-container345" class="col-20">
        <a ui-sref="clientsP()" id="search-button213" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-barcode-outline"></a>
      </div>
      <div id="search-container346" class="col-20">
        <a ui-sref="cartP()" id="search-button214" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="search-container347" class="col-20">
        <a ui-sref="settings()" id="search-button215" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></a>
      </div>
    </div>
  </ion-content>
</ion-view>