<ion-view title="Settings" hide-nav-bar="true" id="page35">
  <ion-content padding="true" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 320px; height: 10px;"></div>
    <h2 id="settings-heading47" style="color:#1A7EDC;font-weight:300;text-align:center;">Settings</h2>
    <div class="spacer" style="height: 20px;"></div>
    <form id="settings-form18" class="list">
      <ion-toggle toggle-class="toggle-royal" id="settings-toggle6" class="inv phys">Notifications</ion-toggle>
      <ion-toggle toggle-class="toggle-royal" id="settings-toggle7" class="inv phys">Dark Mode</ion-toggle>
    </form>
    <a ui-sref="help()" id="settings-button120" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Help</a>
    <button id="settings-button121" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Invite a Friend</button>
    <div id="settings-container205" class="row cusBar2">
      <div id="settings-container200" class="col-20">
        <a ui-sref="home()" id="settings-button104" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="settings-container201" class="col-20">
        <a ui-sref="profile()" id="settings-button105" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="settings-container202" class="col-20">
        <a ui-sref="cart()" id="settings-button106" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="settings-container203" class="col-20">
        <a ui-sref="favorites()" id="settings-button107" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-heart-outline"></a>
      </div>
      <div id="settings-container204" class="col-20">
        <button id="settings-button108" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></button>
      </div>
    </div>
  </ion-content>
</ion-view>