<ion-view title="SettingsP" hide-nav-bar="true" id="page49">
  <ion-content padding="true" style="background: url(img/a47VLwySQ7qxzogdVbqu_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 320px; height: 10px;"></div>
    <h2 id="settingsP-heading102" style="color:#1A7EDC;font-weight:300;text-align:center;">Settings</h2>
    <div class="spacer" style="height: 20px;"></div>
    <form id="settingsP-form30" class="list">
      <ion-toggle toggle-class="toggle-royal" id="settingsP-toggle9" class="inv phys">Notifications</ion-toggle>
      <ion-toggle toggle-class="toggle-royal" id="settingsP-toggle10" class="inv phys">Dark Mode</ion-toggle>
    </form>
    <a ui-sref="helpP()" id="settingsP-button242" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Help</a>
    <button id="settingsP-button243" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Invite a Friend</button>
    <div id="settingsP-container403" class="row cusBar2">
      <div id="settingsP-container398" class="col-20">
        <a ui-sref="homeP()" id="settingsP-button244" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-home-outline"></a>
      </div>
      <div id="settingsP-container399" class="col-20">
        <a ui-sref="profileP()" id="settingsP-button245" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-person-outline"></a>
      </div>
      <div id="settingsP-container400" class="col-20">
        <a ui-sref="clientsP()" id="settingsP-button246" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-barcode-outline"></a>
      </div>
      <div id="settingsP-container401" class="col-20">
        <a ui-sref="cartP()" id="settingsP-button247" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cart-outline"></a>
      </div>
      <div id="settingsP-container402" class="col-20">
        <button id="settingsP-button248" style="color:#21A6EB;" class="button button-positive button-small button-block button-icon icon ion-ios-cog-outline"></button>
      </div>
    </div>
  </ion-content>
</ion-view>