<ion-view title="Signup" hide-nav-bar="true" id="page2">
  <ion-content padding="true" style="background: url(img/yfckPM8QkNGCEq7gwAwQ_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="animated slideInDown">
      <img src="img/1UGuUiUcR2mMtRbgReDA_Logo.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="signup-form1" class="list">
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-input stark animated fadeIn" id="signup-input1">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <ion-list id="signup-list1">
        <label class="item item-input animated fadeIn" id="signup-input2">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input animated fadeIn" id="signup-input6">
          <span class="input-label">Phone</span>
          <input type="tel" placeholder="">
        </label>
        <label class="item item-input animated fadeIn" id="signup-input15">
          <span class="input-label">DOB</span>
          <input type="date" placeholder="">
        </label>
        <label class="item item-input animated fadeIn" id="signup-input7">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <label class="item item-input stark2 animated fadeIn" id="signup-input3">
        <span class="input-label">Password</span>
        <input type="password" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <div id="signup-container34" class="row">
        <div id="signup-container35" class="col-20 creator-container"></div>
        <div id="signup-container36" class="col-60">
          <button id="signup-button8" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block animated fadeIn" ui-sref="login()">Register</button>
        </div>
        <div id="signup-container37" class="col-20 creator-container"></div>
      </div>
    </form>
    <a ui-sref="login()" id="signup-button10" style="font-size:16px;" class="button button-positive button-block button-clear xspace animated fadeIn">Already registered? Log in</a>
  </ion-content>
</ion-view>