<ion-view title="Thank you PurchaseP" hide-nav-bar="true" id="page30">
  <ion-content padding="true" style="background: url(img/Mexjmuf6QyenlPOBkRny_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div id="thankYouPurchaseP-container12" class="row">
      <div id="thankYouPurchaseP-container9" class="col-33 creator-container"></div>
      <div id="thankYouPurchaseP-container10" class="col-33">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
          <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"></circle>
          <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "></polyline>
        </svg>
      </div>
      <div id="thankYouPurchaseP-container11" class="col-33 creator-container"></div>
    </div>
    <h3 id="thankYouPurchaseP-heading2" style="color:#477033;text-align:center;" class="animated zoomIn">Thank you. Your Order has been submitted.</h3>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div id="thankYouPurchaseP-container16" class="row">
      <div id="thankYouPurchaseP-container13" class="col-20 creator-container"></div>
      <div id="thankYouPurchaseP-container14" class="col-60">
        <a ui-sref="homeP()" id="thankYouPurchaseP-button5" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Back</a>
      </div>
      <div id="thankYouPurchaseP-container15" class="col-20 creator-container"></div>
    </div>
  </ion-content>
</ion-view>