<ion-view title="Thank you message sent" hide-nav-bar="true" id="page13">
  <ion-content padding="true" style="background: url(img/CsuY7usCSwmGFZroIj6m_bg2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 50px;"></div>
    <div id="thankYouMessageSent-container17" class="row">
      <div id="thankYouMessageSent-container18" class="col-33 creator-container"></div>
      <div id="thankYouMessageSent-container19" class="col-33">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
          <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"></circle>
          <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "></polyline>
        </svg>
      </div>
      <div id="thankYouMessageSent-container20" class="col-33 creator-container"></div>
    </div>
    <h3 id="thankYouMessageSent-heading3" style="color:#477033;text-align:center;" class="animated zoomIn">Thank you. Your message has been sent.</h3>
    <div class="spacer" style="height: 50px;"></div>
    <div id="thankYouMessageSent-container21" class="row">
      <div id="thankYouMessageSent-container22" class="col-20 creator-container"></div>
      <div id="thankYouMessageSent-container23" class="col-60">
        <a ui-sref="settings()" id="thankYouMessageSent-button6" style="border-radius:50px 50px 50px 50px;" class="button button-royal button-block">Back</a>
      </div>
      <div id="thankYouMessageSent-container24" class="col-20 creator-container"></div>
    </div>
  </ion-content>
</ion-view>